# ignore datasets
# **/dataset

# ignore .pyc
*.pyc
.DS_Store

# ignore results/

# ignore jar file
*.jar
*.mat
*.bin
*.pth
*.npy
*.pkl

# ignore models
*.pt
*.bif
*.h5
*.json
*.arff

# ignore image files
*.jpg
*.png
# ignore run-* bash and output

