# ignore datasets
**/dataset
data
checkpoint
model
maskVisual
reference
visual

# ignore useless
**/..nfs*
**/.nfs*
**/.core.*

# ignore .pyc
*.pyc
.DS_Store

# ignore results/
*/results/*
*/output/*

# ignore jar file
*.jar
*.mat
*.bin
*.pth
*.npy
*.pkl

# ignore models
*.pt
*.bif
*.h5
*.json
*.arff

# ignore image files
*.jpg
*.png
# ignore run-* bash and output

